@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap");

/* https://opentdb.com/api.php?amount=10&category=11&difficulty=medium&type=multiple&encode=base64 */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    font-family: "Montserrat Alternates", sans-serif;
    width: 100%;
    height: 100vh;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.App {
    margin: 50px auto;
    padding: 25px;
    width: fit-content;
    border: 1px solid #ddd;
    height: 250px;
}

.App h1 {
    margin: 0px;
}
