@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap");

/* https://opentdb.com/api.php?amount=10&category=11&difficulty=medium&type=multiple&encode=base64 */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    font-family: "Montserrat Alternates", sans-serif;
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.App {
    margin: 50px auto;
    padding: 25px;
    max-width: 500px;
    min-height: 500px;
}

.App h1 {
    margin: 0px;
}

.hash_loader {
    margin: 95px auto;
}

.new_score {
    font-size: 1.1em;
    font-weight: 500;
}

.start {
    margin: 80px auto;
    font-family: "Montserrat Alternates", sans-serif;
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color: #0984e3;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.start:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15),
        -5px -5px 15px rgba(0, 0, 0, 0.15);
}

.next {
    margin: 15px auto;
    font-family: "Montserrat Alternates", sans-serif;
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color: #0984e3;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.next:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15),
        -5px -5px 15px rgba(0, 0, 0, 0.15);
}

.flexer {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.question {
    font-weight: 500;
    margin: 20px auto;
    font-size: 1.1em;
}
